


.hero {
  background-image: url(../images/landing/landingHero.png);
  background-size: 100% ; /* Ensure the image covers the entire container */
  background-position: bottom; /* Keep the image centered */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%;
}
.body {
  background-image: url(../images/landing/landing-bg.png);
  background-size: 100% 100%; /* Ensure the image covers the entire container */
  background-position: bottom; /* Keep the image centered */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%;
}
.faqAccordion {
  border-radius: 1rem;
  border: 1px solid #001d3a;
  background-color: #0029521f;
}

.gradientText {
  background: linear-gradient(184deg, #0477ef 1.84%, #fff 100.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.community {
  background-image: url(../images/communityBg.png);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}



.bg_gradient_border {
  background-image: linear-gradient(to right, #0477ef, #ffffff);
  border: 0;
}

.zindex {
  z-index: -10000000000;
}


@media screen and (max-width: 768px) {
  .hero {

    /* background-size: 100% contain; Ensure the image covers the entire container */
  
  }
}
/* @media (min-width: 769px) and (max-width: 1023px) {
  .scale_custom {
    transform: scale(0.8);
  }
} */
