/* styles/Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/waitlistBg.png);
  background-size: 100% 100%;
  position: fixed; width: 100%;
height: 100%;
top: 0;
left: 0;
  color: white;

}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  z-index: 100;
}

.timeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg_gradient_border {
  background-image: linear-gradient(to right, #0477ef, #ffffff);
  border: 0;
}

.waitlistForm {
  display: flex;
  gap: 1rem;
  z-index: 100;
}

.waitlistForm input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

.waitlistForm button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.waitlistForm button:hover {
  background-color: #005bb5;
}
