@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading_spin {
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(359deg);

  }
}

@keyframes openModal {
 
  0%,40%{
    transform: scale(0%);
    
  }
  40%,100%{
    transform: scale(100%);
  }
}


@keyframes closeModal {
 
  0%,40%{
    transform: scale(100%);
    
  }
  40%,100%{
    transform: scale(0%);
  }
}

@font-face {
  font-family: "Gilroy Black";
  src: url(./fonts/Gilroy-Black.ttf);
  font-weight: 900; /* Set the heaviest weight */
}
@font-face {
  font-family: gilroy-bold;
  src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: gilroy-regular;
  src: url(./fonts/Gilroy-Regular.ttf);
}


.body {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  overflow: hidden;
}
button:disabled{
  cursor: not-allowed;
}
.hd-shadow {
  box-shadow: -8px 8px 50px #00000057;
}

.glow {
  box-shadow: 0px 4px 31.2px 0px rgba(85, 168, 255, 0.3);
}

.gilroy-black-bold {
  font-family: "Gilroy Black", sans-serif; /* Apply the font family */
  font-weight: bolder; /* Ensure maximum boldness */
  /* -webkit-text-stroke: 1px; */
}
.gilroy-bold {
  font-family: gilroy-bold;
}
.gilroy-regular {
  font-family: gilroy-regular;
}

.hero-H1 {
  line-height: 85px;
}
.activeAdminSideNavLink {
  background-color: #ecf4ff;
  border-color: #0171f3;
}
.activeAdminSideNavLink * {
  fill: #0060ff;
  color: #0060ff;
}
#innerAdminPage_id {
  transition: filter 1s ease-in-out;
}

#modal-inner-container{
  transition: all 1s ease-in-out;
}

.modal-open{
  animation-name: openModal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.modal-close{
  animation-name: closeModal;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;}

  .loading_logo{
    animation-name: loading_spin;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
  }